<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil1.jpeg" class="img-fluid" id="imagenPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Tolaba Leandro Hernan</p>
        <p id="soy">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercaMi">Acerca de Mi:</h1>
            <p id="Mi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis fuga, eius magnam temporibus voluptas ad repellendus excepturi nesciunt quas! Nemo animi consequuntur doloribus debitis ipsum eveniet deserunt? Eius, eos.</p>

        </span>
    </div>
</div>