<div class="row">
    <div class="col-lg-4 mb-5 mb-lg-0">
    </div>
    <h4 class="text-uppercase mb-4 RD">Redes Sociales</h4>
    <div class="col-lg-4 mb-5 mb-lg-0 redes">
        <a href="https://www.facebook.com/leandrohernan.tolaba.5"><img src="../../../assets/facebook.png" id="facebook"></a>
        <a href="http://www.instagram.com/londro_x"><img src="../../../assets/instagram.png" id="instagram"></a>
        <a href="https://twitter.com/Londro_x"><img src="../../../assets/twitter.png" id="twitter"></a>
        <a href="https://www.linkedin.com/in/leandrotolaba"><img src="../../../assets/linkedin.png" id="linkedin"></a>
        <a href="https://github.com/tenok94"><img src="../../../assets/github.png" id="github"></a>
    </div>
    <div class="col-lg-4"></div>
</div>