<div class="row">

    <h1> Educacion</h1>

    <div class="col-lr-12">
        <ul>

            <li>
                <h1>Educacion </h1>
                <h3>1700</h3>

            </li>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio quam eligendi ea sapiente atque alias, repellat, officiis quia amet id, cupiditate ut totam suscipit repellendus odit pariatur! Odit, fugiat.</p>

        </ul>
        <ul>

            <li>
                <h1>Educacion </h1>
                <h3>1800</h3>

            </li>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio quam eligendi ea sapiente atque alias, repellat, officiis quia amet id, cupiditate ut totam suscipit repellendus odit pariatur! Odit, fugiat.</p>
            
        </ul>
        <ul>

            <li>
                <h1>Educacion </h1>
                <h3>1900</h3>

            </li>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio quam eligendi ea sapiente atque alias, repellat, officiis quia amet id, cupiditate ut totam suscipit repellendus odit pariatur! Odit, fugiat.</p>
            
        </ul>
    </div>

</div>